<div class="row mt-5 mt-md-0">
  <div class="col-12 row justify-content-center">
    <img
      style="max-height: 400px;"
      [src]="recipe.imagePath"
      alt="{{ recipe.name }}"
      class="img-responsive"
    />
  </div>
</div>
<div class="row">
  <div class="col-12 text-center">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle show"
        (click)="dropdownShow()"
      >
        Manage Recipe
      </button>
      <ul class="dropdown-menu" [ngClass]="{ show: shouldShow }">
        <li class="dropdown-item">
          <a (click)="onAddToShoppingList()" style="cursor: pointer;"
            >Shopping List +</a
          >
        </li>
        <li class="dropdown-item">
          <a style="cursor: pointer;" [routerLink]="['edit']">Recipe Edit </a>
        </li>
        <li class="dropdown-item">
          <a style="cursor: pointer;">Delete Recipe</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>
